# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

coverage.txt
_testmain.go

*.exe
*.test
*.prof

# Binary output from `make release`
funnel
funnel_*